.box{
    width: 400px;
    height:1000px;
    transition: 4s transform;
    margin: auto;
    overflow: hidden;
}
.box img{
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    transition: 2s transform;

}
.box:hover img{
    transform: scale(1.2,1.2);
}
.box1{
    width:550px;
    height:1000px;
    transition: 4s transform;
    margin: auto;
    overflow: hidden;
}
.box1 img{
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    transition: 2s transform;
    overflow: hidden;


}
.box1:hover img{
    transform: scale(1.2,1.2);
}